flask
flask-Migrate
flask-marshmallow
Flask_marshmallow
Flask
Flask-Migrate
flask-marshmallow
Flask-SQLAlchemy
Flask-WTF
flask-bcrypt
flask-restx
Werkzeug
werkzeug==2.1.2
SQLAlchemy
marshmallow-sqlalchemy
sqlite-web
flask-cors

